{{#each articles}}
<div class="card" style="width: 800px; margin:auto; margin-bottom:50px ">
    {{!-- {{img}}
    --}}


    <div class="card-body">

        <img src={{urlToImage}} width="400px" height="300px" style="margin: auto;">

        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content}}</p>
        {{!-- <h1> hello {{urlToImage}} </h1> --}}
        <a href="#" class="btn btn-primary">Go somewhere</a>

    </div>
</div>
{{/each}}